Package: gitsync
Version: 2.2.1
Architecture: all
Depends: bash,coreutils,hostname,sed,curl,mailutils,git,rsync
Maintainer: Pesti Tamás <ptamas2002@gmail.com>
Description: Synchronize and manage web pages stored in a git repository.
